@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:wght@725&family=SUSE:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

body {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    /* background-color: black !important; */
    background: radial-gradient(circle at 30% 30%, #000, #001f23);

}

.header {
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
    border-radius: 30px;
    animation: loading-down 1s ease-in;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.logo img {
    border-radius: 50%;
    border: 3px solid cyan;
}

.name {
    font-family: "Style Script", cursive;
    color: cyan;
    transition: 0.3s;
}

.name:hover {
    color: white;
}

.header-list {
    display: flex;
    gap: 30px;
}

.header-list a,
.button {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.underline {
    background: linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%) 0.1em no-repeat;
    transition: background-size 0.5s;
    /* width: max-content; */
}

.underline:hover {
    color: cyan;
    text-decoration: none;
    --underline-width: 100%;
}

.scroll-down {
    position: absolute;
    top: 300px;
    right: 20px;
    width: 25px;
    height: 50px;
    border: 2px solid cyan;
    border-radius: 20px;
}

.scroll-down::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 5px;
    height: 5px;
    background: cyan;
    border-radius: 50%;
    transform: translateX(-50%);
    animation: scroll 1.5s infinite;
}

.section1-wrapper,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7 {
    height: 100vh;
    /* scroll-margin-top: 80px; */
    /* padding-top: 100px; */
}


.section1-wrapper {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: loading-up 1s ease-in;

}

.float {
    filter: drop-shadow(5px 5px 20px cyan);
}

.typing {
    color: cyan;
}

.button {
    /* background: linear-gradient(to right, cyan, darkblue);
    padding: 8px 25px;
    border-radius: 5px; */
    /* transition: 0.5s; */

    outline: none;
    border: none;
    background: #00f7ff;
    padding: 12px 30px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    transition: 0.4s;
    box-shadow: 0 0 5px #00f7ff;
}

.button:hover {
    box-shadow: 0 0 10px #00f7ff;
}

.float {
    animation: float 4s ease-in-out infinite;
}

.resumePopup {
    position: relative;
}

.popup {
    display: none;
    position: absolute;
    top: 110%;
    background-color: white;
    min-width: 300px;
    padding: 30px;
    margin-top: 10px;
    flex-direction: column;
    gap: 30px;
    z-index: 99;
    border-radius: 20px;
    box-shadow: 1px 10px 30px rgba(0, 255, 255, 0.25);
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s ease;
    pointer-events: none;

}

.popup a {
    text-decoration: none;
    width: 100%;
}

.popup.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}

.section2 .card {
    width: 170px;
}

.section2 .row .left,
.section2 .row .right {
    padding: 30px 0;
}

.section2 .row .left {}

.section2 .row .right .about-strengths {
    display: flex;
    gap: 20px;
}

.section2 .row .right .strength-card {
    /* stopped here */
}

.currentRole {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.section3 .skill-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.headings {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 20px;
}

.skills-wrapper {
    padding-bottom: 50px;
}

.skills-wrapper h3 {
    padding-bottom: 30px;
}

.skills-wrapper h3 {
    color: cyan;
}

.skill-icons div {
    text-align: center;
}

.skill-icons i,
.skill-icons .skill-icon {
    margin-bottom: 10px;
}

.skill-icon {
    width: 50px;
    animation: bounce 0.53s ease-in-out infinite alternate;
}

.section4 .cards .card {
    width: 400px;
    border: 2px solid #001f23;
    border-radius: 20px;
    box-shadow: 0 5px 20px #007180;
}


.section7 .imgBox {
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 20px;

}

.section7 .follow-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: black;
}

@keyframes scroll {
    0% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes bounce {
    from {
        transform: scale(0.9);
        opacity: 0.4;
    }

    to {
        transform: scale(1.05);
        opacity: 1;
    }

}

@keyframes loading-down {
    from {
        transform: translateY(-30px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loading-up {
    from {
        transform: translateY(30px);
        opacity: 0
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}


@media screen and (max-width:768px) {

    .header {
        flex-direction: column;
    }

    .header-list {
        flex-wrap: wrap;
    }

    .section1,
    .section3,
    .section3,
    .section4,
    .section5,
    .section6 {
        padding-top: 0px;
    }

    .section1 {
        flex-direction: column;
        gap: 20px;
    }
}