@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:wght@725&family=SUSE:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    position: relative;
    background-color: black !important;
}

.header {
    padding: 10px 0px;
    position: sticky;
    top: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    animation: loading-down 1s ease-in;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.logo img {
    border-radius: 50%;
    border: 3px solid cyan;
}

.name {
    font-family: "Style Script", cursive;
    color: cyan;
    transition: 0.3s;
}

.name:hover {
    color: white;
}

.header-list {
    display: flex;
    gap: 30px;
}

.header-list a,
.button {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.underline {
    background: linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%) 0.1em no-repeat;
    transition: background-size 0.5s;
    /* width: max-content; */
}

.underline:hover {
    color: cyan;
    text-decoration: none;
    --underline-width: 100%;
}

.section1-wrapper {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: loading-up 1s ease-in;

}

.section1 #coding-photo {
    filter: drop-shadow(5px 5px 2px cyan);
}


.button {
    /* background: linear-gradient(to right, cyan, darkblue);
    padding: 8px 25px;
    border-radius: 5px; */
    /* transition: 0.5s; */

    outline: none;
    border: none;
    background: #00f7ff;
    padding: 12px 30px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    transition: 0.4s;
    box-shadow: 0 0 5px #00f7ff;
}

.button:hover {
    box-shadow: 0 0 10px #00f7ff, 0 0 10px #00f7ff;
}

.resumePopup {
    position: relative;
}

.popup {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: white;
    width: max-content;
    padding: 30px 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    align-items: start;
    border-radius: 20px;
}

.active {
    display: block;
}

.section1-wrapper,
.section2,
.section3,
.section4,
.section5,
.section6 {
    height: 100vh;
    /* padding-top: 100px; */
}

.section3 .skill-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.headings {
    width: fit-content;
    margin: 0 auto;
}

.skills-wrapper {
    padding-bottom: 50px;
}

.skills-wrapper h3 {
    padding-bottom: 30px;
}

.skills-wrapper h3 {
    color: cyan;
}

.skill-icons div {
    text-align: center;
}

.skill-icons i,
.skill-icons .skill-icon {
    margin-bottom: 10px;
}

.skill-icon {
    width: 50px;
    animation: bounce 0.52s ease-in-out infinite alternate;
}

.section5 .imgBox {
    height: 200px;
    width: 300px;
    background-color: white;
}

.section5 .follow-icons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.section6 .imgBox {
    height: 50px;
    width: 300px;
    background-color: white;
    border-radius: 20px;
}

.section6 .follow-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: black;
}

@keyframes bounce {
    from {
        transform: scale(0.9);
        opacity: 0.4;
    }

    to {
        transform: scale(1.1);
        opacity: 1;
    }

}

@keyframes loading-down {
    from {
        transform: translateY(-30px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loading-up {
    from {
        transform: translateY(30px);
        opacity: 0
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


@media screen and (max-width:768px) {

    .header {
        flex-direction: column;
    }

    .header-list {
        flex-wrap: wrap;
    }

    .section1,
    .section3,
    .section3,
    .section4,
    .section5,
    .section6 {
        padding-top: 0px;
    }

    .section1 {
        flex-direction: column;
        gap: 20px;
    }
}