@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,900;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:wght@725&family=SUSE:ital,wght@0,100..900;1,100..900&family=Style+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    /* scroll-behavior: smooth; */
    scroll-padding-top: 80px;
}

::selection {
    background: rgba(0, 255, 255, 0.5);
}

body {
    color: white !important;
    background: radial-gradient(circle at 30% 30%, #000, #001f23);
}

.progress-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 3px;
    width: 0%;
    /* background: linear-gradient(90deg, #014949 20%, #009191 40%, #00ffff 100%); */
    /* background: linear-gradient(90deg, #ff5100 20%, #000 50%, #ff702d 75%, #ffa074 100%); */
    /* background: linear-gradient(90deg, #ff0000 14.28%, #ff5100 28.56%, #ffd000 42.84%, #09ff00 57.12%, #0400ff 71.4%, #ff00bf 85.68%, #ff006a 100%); */
    background: linear-gradient(90deg, #0a3a3a, #39AAAA, #23D5D5, #00FFFF);
    z-index: 2;
}

.color-cyan {
    color: cyan;
}

.color-green {
    color: #aaff00;
}

.bg-cyan,
.timeline::before,
.scroll-down::before {
    background: cyan;
}

body.light-theme {
    color: black !important;
    background: white;
}

body.light-theme .icon-hover {
    color: black;
}

body.light-theme .name,
body.light-theme .color-cyan,
body.light-theme .header-list a,
body.light-theme .underline,
body.light-theme .icon-hover:hover {
    color: rgb(128, 0, 32);
}

body.light-theme .color-green {
    color: green;
}

body.light-theme .progress-bar {
    background: linear-gradient(90deg, #3a0a0a, #aa3939, #d52323, #ff0000);
}

body.light-theme .bg-cyan,
body.light-theme .scroll-down::before,
body.light-theme .timeline::before {
    background: rgb(128, 0, 32);
    color: white;
}

body.light-theme .header {
    background: rgba(255, 239, 243, 0.3);
}

body.light-theme .hamburger-popup {
    background: rgb(255, 239, 243);
}

body.light-theme .float {
    filter: drop-shadow(5px 5px 20px rgb(128, 0, 32));
}

body.light-theme .section2 .row .right .strength-card,
body.light-theme .currentRole div,
body.light-theme .section3 .skill-icon-wrapper,
body.light-theme .section6 .edu-card,
body.light-theme .section4 .cards .card,
body.light-theme .timeline-content,
body.light-theme .tags span,
body.light-theme .cert-grid span,
body.light-theme .section7 .glass-form,
body.light-theme .glass-form input,
body.light-theme .glass-form textarea {
    border: 1px solid rgba(128, 0, 32, 0.5) !important;
    background: rgba(255, 255, 255, 0.3) !important;
    color: black;
}

body.light-theme .logo img,
body.light-theme .scroll-down,
body.light-theme .scroll-down::before {
    border: 2px solid rgb(128, 0, 32) !important;
}

body.light-theme .header,
body.light-theme .popup,
body.light-theme .hamburger-popup {
    border: 1px solid rgba(128, 0, 32, 0.5);
}

body.light-theme .section2 .row .right .strength-card:hover,
body.light-theme .currentRole div:hover,
body.light-theme .section3 .skill-icon-wrapper:hover,
body.light-theme .section4 .cards .card:hover,
body.light-theme .timeline-content:hover,
body.light-theme .section6 .edu-card:hover {
    transform: translateY(-8px);
    border: 1px solid rgb(128, 0, 32);
    box-shadow: 0 0 20px rgba(128, 0, 32, 0.5);
}

body.light-theme .button:hover,
body.light-theme .glass-form:hover,
body.light-theme .timeline-dot,
body.light-theme .timeline::before {
    box-shadow: 5px 5px 20px rgba(128, 0, 32);
}

body.light-theme .glass-form,
body.light-theme .button {
    box-shadow: 0 0 10px rgba(128, 0, 32, 0.5);
}

body.light-theme .glass-form input::placeholder,
body.light-theme .glass-form textarea::placeholder {
    color: rgba(128, 0, 32, 0.6);
}

body.light-theme #current,
body.light-theme .glass-form input:focus,
body.light-theme .glass-form textarea:focus {
    border: 1px solid rgb(128, 0, 32) !important;
    box-shadow: 0 0 10px rgba(128, 0, 32, 0.5);
}

body.light-theme .section4 .cards .card .eye-icon {
    filter: invert(0);
}

body.light-theme .invert-icon {
    filter: invert(1);
}

.header {
    padding: 5px 0px;
    position: sticky;
    top: 3px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(0, 247, 255, 0.3);
    box-shadow: 1px 0px 5px rgba(255, 247, 255, 0.3);
    border-radius: 40px;
    animation: loading-down 0.8s ease-in;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.logo img {
    border-radius: 30px;
    border: 3px solid cyan;
}

.name {
    font-family: "Style Script", cursive;
    /* font-family: bilona; */
    color: cyan;
    transition: 0.3s;
}

.name:hover {
    color: white;
}

.header-list {
    display: flex;
    gap: 30px;
}

.header-list a,
.socials a,
.button {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.underline {
    background: linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%) 0.1em no-repeat;
    transition: background-size 0.5s;
    /* width: max-content; */
}

.underline:hover {
    color: cyan;
    text-decoration: none;
    --underline-width: 100%;
}

.icon-hover {
    padding-left: 10px;
    opacity: 0.5;
    transition: 0.2s ease-in-out;
}

.icon-hover:hover {
    transform: scale(1.2);
    opacity: 1;
    color: cyan;
}

.socials a {
    font-size: 30px;
}

.socials {
    position: fixed;
    top: 60vh;
    display: flex;
    flex-direction: column;
    z-index: 2;
    animation: slideToRight 0.8s ease-in;
}

.theme {
    position: fixed;
    top: 20px;
    right: 25px;
    width: max-content;
    z-index: 2;
    animation: loading-down 0.8s ease-in;
}

.theme-button {
    font-size: 24px;
    transition: transform 0.8s ease-in-out;
}

.theme-button:hover {
    transform: rotate(360deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.scroll-down {
    position: fixed;
    top: 50vh;
    right: 20px;
    width: 25px;
    height: 50px;
    border: 2px solid cyan;
    border-radius: 20px;
    z-index: 2;
    animation: slideToLeft 0.8s ease-in;
}

.scroll-down::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 50%;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    transform: translateX(-50%);
    animation: scroll 1.5s infinite;
}

.section3 {
    min-height: 100vh;
}


.section1-wrapper,
.section2,
.section4,
.section5,
.section6,
.section7 {
    min-height: 100vh;
    margin-bottom: 50px;
}



.section1-wrapper {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: loading-up 0.8s ease-in;

}

.float {
    filter: drop-shadow(5px 5px 20px cyan);
    /* box-shadow: 5px 5px 20px cyan; */
    animation: float 4s ease-in-out infinite;

}


.button {
    /* background: linear-gradient(to right, cyan, darkblue);
    padding: 8px 25px;
    border-radius: 5px; */
    /* transition: 0.5s; */
    outline: none;
    border: none;
    padding: 12px 30px;
    border-radius: 30px;
    color: black;
    font-weight: bold;
    /* transition: 0.3s; */
    box-shadow: 0 0 5px #00f7ff;
}

.button:hover {
    box-shadow: 0 0 10px #00f7ff;
}

.angle-down {
    margin-top: 20px;
    animation: loading-up 0.8s ease-in;
}

#hamburger {
    font-size: 22px;
    z-index: 3;
}

.resumePopup,
#hamburger-menu {
    position: relative;
}

.popup {
    display: none;
    position: absolute;
    left: 60%;
    margin-top: -180px;
    background-color: white;
    width: max-content;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px;
    border: 1px solid cyan;
    opacity: 0;
    transform: translateY(-10px);
    transition: 0.3s ease;
    pointer-events: none;
    z-index: 5;
}

.hamburger-popup {
    display: none;
    position: absolute;
    background: #000;
    border: 1px solid cyan;
    right: 10%;
    min-width: 150px;
    padding: 30px;
    margin-top: 10px;
    flex-direction: column;
    gap: 30px;
    z-index: 3;
    border-radius: 20px;
    opacity: 0;
}

.popup a,
.hamburger-popup a {
    text-decoration: none;
    color: white;
    width: 100%;
}

.popup.active,
.hamburger-popup.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;

}

.cta-btns {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.section2 .card {
    width: 170px;
}

.section2 .row .left,
.section2 .row .right {
    padding: 30px 0;
}

.section2 .row .right .about-strengths {
    display: flex;
    gap: 20px;
}

.section2 .row .right .strength-card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 15px;
    border: 1px solid rgba(0, 255, 255, 0.3);
    transition: 0.3s;
    flex: 1;
}

.section2 .row .right .strength-card:hover,
.currentRole div:hover,
.section4 .cards .card:hover,
.timeline-content:hover,
.section6 .edu-card:hover {
    transform: translateY(-8px);
    border: 1px solid cyan;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.currentRole {
    margin-top: 40px;
    display: flex;
    gap: 30px;

}

.currentRole div,
.section6 .edu-card {
    padding: 20px;
    border-radius: 15px;
    background: rgba(0, 255, 255, 0.05);
    border: 1px solid rgba(0, 255, 255, 0.3);
    transition: 0.3s;
}



.section3 .skill-icons {
    /* justify-content: space-around; */
    /* display: flex;
    align-items: center;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
}

.section3 .skill-icon-wrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(0, 255, 255, 0.2);
    border-radius: 10px;

    backdrop-filter: blur(6px);

    transition: all 0.35s ease;
    position: relative;
    overflow: hidden;
}

.section3 .skill-icon-wrapper:hover {
    scale: 1.02;
    border: 1px solid rgba(0, 255, 255);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

.section3.reveal.active .skill-icon-wrapper {
    opacity: 0;
    animation: slideX 2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.section3 .skill-icon-wrapper p {
    margin-bottom: 0;
}

.skill-text {
    width: 100%;
    text-align: start;
}

.skill-bar {
    /* padding: 1px; */
    background: rgba(255, 255, 255, 0.5);
    /* color: black; */
    border-radius: 30px;
    overflow: hidden;
}

.percent {
    text-align: right;
    color: white;
    border-radius: 30px;
    animation: width 1s ease-in-out;
    font-size: 10px;
}


.python {
    width: 80%;
    background: linear-gradient(to left, #daae00, #003866);
}

.django {
    width: 60%;
    background: linear-gradient(to left, #092E20, #00A36C);
}

.html {
    width: 95%;
    background: linear-gradient(to left, #FF6200, #FD7F2C, #FDA766);
}

.css {
    width: 80%;
    background: linear-gradient(to left, #0000ff, #43aaf9);
}

.javascript {
    width: 75%;
    background: linear-gradient(to left, #f0b820, #f7df1e);
}

.git {
    width: 80%;
    background: linear-gradient(to left, #F05033, #a3351d);
}

.github {
    width: 90%;
    background: linear-gradient(to left, black, grey);
}

.linux {
    width: 85%;
    background: linear-gradient(to left, #77216F, #DD4814);
}

.windows {
    width: 95%;
    background: linear-gradient(to left, #005A83, #00B4F1);
}

.osiModel {
    width: 85%;
    background: linear-gradient(to left, #a3351d, #F05033);
}

.terminal {
    width: 90%;
    background: linear-gradient(to left, black, grey);
}

.owasp {
    width: 85%;
    background: linear-gradient(to left, black, grey);
}

.burpsuite {
    width: 85%;
    background: linear-gradient(to left, #BB1900, #FD6F01);
}

.nmap {
    width: 95%;
    background: linear-gradient(to left, #002e5d, #005aa7);
}

.wireshark {
    width: 90%;
    background: linear-gradient(to left, #005086, #00a4e4);
}

.metasploit {
    width: 95%;
    background: linear-gradient(to left, #002e5d, #2774ae);
}

.nessus {
    width: 90%;
    background: linear-gradient(to left, #11005c, #000fdf);
}

@keyframes fill {
    from {
        width: 0;
    }
}

.section3.active .python,
.section3.active .django,
.section3.active .html,
.section3.active .css,
.section3.active .javascript,
.section3.active .git,
.section3.active .github,
.section3.active .linux,
.section3.active .windows,
.section3.active .osiModel,
.section3.active .terminal,
.section3.active .owasp,
.section3.active .burpsuite,
.section3.active .nmap,
.section3.active .wireshark,
.section3.active .metasploit,
.section3.active .nessus {
    animation: fill 2s ease-out forwards;
}

.headings {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 20px;
}

.skills-wrapper {
    padding-bottom: 50px;
}

.skills-wrapper h3 {
    padding-bottom: 30px;
}

.skill-icon {
    width: 50px;
    /* animation: bounce 0.53s ease-in-out infinite alternate; */
}


.section4 .cards {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.section4 .cards .card {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 255, 255, 0.25);
    color: white;
    border-radius: 20px;
    flex: 0 0 calc(33.34% - 20px);
    overflow: hidden;
    transition: 0.3s;
}

.section4 .cards .card .project-img {
    position: relative;
    /* width: 250px; */
}

.section4 .cards .card .eye-icon {
    position: absolute;
    filter: invert(1);
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.section4 .cards .card img {
    transition: 0.3s;

}

.section4 .cards .card img:hover {
    opacity: 0.3;
}

.section5 {
    position: relative;
}

.timeline {
    position: relative;
    /* margin-top: 50px; */
    padding-left: 40px;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 0;
    width: 3px;
    height: 100%;
    background: cyan;
    box-shadow: 0 0 15px cyan;
}

.timeline-item {
    position: relative;
    margin-bottom: 60px;
}

.timeline-dot {
    position: absolute;
    top: 35px;
    left: -39px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 15px #00f7ff;
}

.timeline-content {
    background: rgba(255, 255, 255, 0.05);
    padding: 25px;
    border-radius: 15px;
    border: 1px solid rgba(0, 255, 255, 0.3);
    transition: 0.3s;
}

#current {
    border: 1px solid aqua;
}

.company {
    display: block;
    font-weight: bold;
}

.date {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    opacity: 0.7;
}

.tags span {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border-radius: 20px;
    background: rgba(0, 255, 255, 0.1);
    border: 1px solid rgba(0, 255, 255, 0.3);
    font-size: 12px;
}

.section6 .edu-card {
    margin-bottom: 30px;
}

.cert-grid span {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
    background: rgba(0, 255, 255, 0.1);
    border: 1px solid rgba(0, 255, 255, 0.4);
    font-size: 14px;
}

.section7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: url(assets/backgrounds/section1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */
}

.section7 .form-container {
    width: 100%;
    max-width: 600px;
}

.section7 .field {
    margin-bottom: 25px;
}

.section7 .glass-form {
    padding: 40px;
    border: 1px solid rgba(0, 255, 255, 0.3);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    background: rgba(0, 255, 255, 0.05);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.15);
    transition: 0.3s ease;
}

.glass-form:hover {
    box-shadow: 0 0 50px rgba(0, 255, 255, 0.3);
}

.glass-form input,
.glass-form textarea {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid rgba(0, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.07);
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
    backdrop-filter: blur(5px);
}

.glass-form input::placeholder,
.glass-form textarea::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.glass-form input:focus,
.glass-form textarea:focus {
    border: 1px solid cyan;
    box-shadow: 0 0 15px rgba(0, 247, 255, 0.3);
}

/* Hamburger menu */
#hamburger-menu,
.hamburger-popup {
    display: none;
    cursor: pointer;
}

/* Reveal on scroll sections */
.reveal {
    opacity: 0;
    transform: translateY(60px);
    /* transition: opacity 0.8s ease, transform 0.8s ease; */
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

/* 
.section-delay-1 {
    transition-delay: 0.1s;
}

.section-delay-2 {
    transition-delay: 0.1s;
}

.section-delay-3 {
    transition-delay: 0.1s;
}

.section-delay-4 {
    transition-delay: 0.1s;
} */

@keyframes scroll {
    0% {
        top: 10px;
        opacity: 1;
    }

    100% {
        top: 25px;
        opacity: 0;
    }
}

@keyframes bounce {
    from {
        transform: scale(0.9);
        opacity: 0.4;
    }

    to {
        transform: scale(1.05);
        opacity: 1;
    }

}

@keyframes loading-down {
    from {
        transform: translateY(-30px);
        opacity: 0
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes loading-up {
    from {
        transform: translateY(30px);
        opacity: 0
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


@keyframes slideToRight {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideToLeft {
    from {
        transform: translateX(30px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideX {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media screen and (max-width:1024px) {
    .theme {
        top: 20px;
        left: 35%;
    }
}

@media (min-width:426px) and (max-width:767px) {
    .container {
        padding: 0 5% !important;
    }

}

@media screen and (max-width:768px) {
    html {
        scroll-padding-top: 75px;
    }

    .theme {
        top: 18px;
        left: 80%;
    }

    .socials a {
        font-size: 28px !important;
    }

    .container {
        padding: 0 8%;
    }

    .header {
        padding: 5px 20px !important;
    }

    .header-list {
        display: none;
    }

    #hamburger-menu {
        display: block;
    }

    .section1-wrapper .text-center {
        margin-top: 20px;
    }

    .section1 {
        flex-direction: column;
        gap: 20px;
    }

    .scroll-down {
        /* top: 400px; */
        right: 10px;
    }

    .section3 .skill-icons {
        justify-content: start;
        gap: 25px;
    }

    .left .float img {
        width: 50%;
    }

    .about-strengths {
        flex-direction: column;
    }

    .currentRole {
        justify-content: space-between;
    }

    .currentRole div {
        width: 100%;
    }

    .section4 .cards {
        flex-direction: column;
        align-items: center;
    }

    .section4 .cards .card {
        width: 80%;
    }

}

@media screen and (max-width:425px) {
    .container {
        padding: 0 5% !important;
    }

    .theme {
        top: 18px;
        left: 75%;
    }

    .header {
        padding: 5px 20px !important;
    }

    .button {
        padding: 5px 15px;
    }

    .popup {
        top: 100%;
        left: -65%;
    }

    .section1-wrapper,
    .section2,
    .section3,
    .section4,
    .section5,
    .section6,
    .section7 {
        padding: 0 20px;
    }

    .section3 .skill-icons {
        gap: 10px;
    }

    .section4 .cards .card {
        width: 100%;
    }

    .cta-btns {
        gap: 20px;
    }

    .currentRole {
        flex-direction: column;
    }

    .section3 .skill-icons {
        justify-content: space-between;
    }

    .section7 .glass-form {
        padding: 20px;
    }

}

@media screen and (max-width:320px) {

    .socials a i {
        font-size: 26px !important;
    }

    .cta-btns {
        flex-direction: column;
        /* gap: 20px; */
    }

    .scroll-down {
        right: 5px;
    }

    .icon-hover {
        font-size: 16px;
    }
}